# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

App_Data/
*.db
*.db-wal
*.db-shm

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Angular
node_modules/
dist/
.tmp/
.angular/
coverage/
npm-debug.log
yarn-error.log

# IDE settings
.idea/
*.iml

# Env files
.env
.env.local
.env.*.local
